header {
  color: #ffffff
  align-items: center;
  justify-content: center;
  margin-top: 0cm;
  margin-left: 150px;
  margin-right:150px;
  
 }

 header nav {
   float: right;
 }
 
 header nav ul {
   margin-top: 35px;
   margin-right: 35px;
 }
 
 header nav ul li {
   display: inline-block;
   margin-left: 20px;
 }


#Todo {
  
  float: left;
  margin-left: -1%;
  margin-right: 5%;
  margin-top: -6.5%;
  width: 100%;
  background-color: rgba(62, 13, 196, 0.877);

}

#Contacto {
margin-left: 4.5cm;

}

#Foto {
padding: 20px ;
border-radius: 10%;
height: 310px;
width: 300px; 
}


section {
  color: #ffffff ;
  margin-left: 150px; 
  margin-right: 150px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;

   }


body {
background-color: rgba(62, 13, 196, 0.877);
color: #ffffff
}

#Gifs {
margin-left: 0.7cm;
}



footer {
 text-align: center;
 margin-top: 40px;
 padding: 10px;
}
Footer
© 2023 GitHub, Inc.
Footer 


<<<<<<< HEAD
=======
  
>>>>>>> c75f9f4887c0bf1b3002bcc2e482c2858516e49f
